.btn {
    width: fit-content;
    padding: 20px 80px;
    margin-left: 16px;
    outline: none;
    background-color: #f6914e;
    color: #ffffff;
    border-style: none;
    border-radius: 4px;
    font-size: 16px;
}