@import 'variables';

#navbar {
  display: flex;
  align-items: center;
  padding-top: 42px;
  padding-right: 40px;
  padding-left: 42px;
  padding-bottom: 27px;
  .logo {
    margin-right: 44px;
    min-width: 170px;
    cursor: pointer;
  }
  .hyper-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .hyper-links-group {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 18px;
      li {
        font-size: 17px;
        color: $primary;
        cursor: pointer;
      }
      .cart-container {
        background-image: url("../img/cart.svg");
        background-size: 35px 35px;
        background-repeat: no-repeat;
        min-width: 35px;
        min-height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin-left: 15px;
        color: $dark;
      }
    }
  }
}